h2 {
  font-size: 12pt;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.FooterWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 276px;
  bottom: 0;
  background: #232636;

  @media (max-width: 420px) {
    height: 130px;
  }
  @media (min-width: 420px) and (max-width: 800px) {
  }
}

.LogoWrapper {
  align-self: center;
  margin-left: 183px;
  height: 91.11px;
  width: 154.32px;

  @media (max-width: 420px) {
    margin: 30px 0 30px 20px;
    transform: scale(0.75, 0.75);
  }
  @media (min-width: 420px) and (max-width: 800px) {
    transform: scale(1, 1);
    margin-left: 10%;
    margin-bottom: 15%;
  }
  @media (min-width: 800px) and (max-width: 1100px) {
    transform: scale(1.5, 1.5);
    margin-left: 15%;
    margin-bottom: 12%;
  }
}

.SocialMediaWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 18px;
  height: 124px;

  @media (max-width: 420px) {
    margin: 5px 10px 5px 2px;
    font-size: 13px;
  }
  @media (min-width: 420px) and (max-width: 800px) {
    margin: 10% 6% 20% 2%;
    font-size: 1rem;
  }
  @media (min-width: 800px) and (max-width: 1100px) {
    margin: 10% 6% 20% 2%;
    font-size: 1.5rem;
  }
}

.RoutingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 124px;
  font-size: 18px;

  @media (max-width: 420px) {
    margin: 5px 20px 5px 2px;
    font-size: 13px;
  }
  @media (min-width: 420px) and (max-width: 800px) {
    margin: 10% 10% 20% 30%;
    font-size: 1rem;
  }
  @media (min-width: 800px) and (max-width: 1100px) {
    margin: 10% 10% 20% 30%;
    font-size: 1.5rem;
  }
}

.LinksWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  height: 276px;
  margin-right: 150px;
  @media (max-width: 420px) {
    margin: 5% 5% 20% 15%;
  }
  @media (min-width: 420px) and (max-width: 800px) {
    margin: 10% 10% 20% 30%;
  }
  @media (min-width: 800px) and (max-width: 1100px) {
    margin: 10% 10% 20% 30%;
  }
}

.featComp {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 30px;
  min-height: 80px; /* For some reason this prevents the top image from being an incorrect size.*/
  max-width: 70%;
}

.FeatImage {
  /* type img*/
  display: block;
  object-fit: cover; /*Centers image and crops instead of scales aspect ratio.*/

  /*200 IQ bug fix (the first image doesn't load in correct size if only using width ;) */
  min-width: 10em;
  max-width: 10em;

  height: 10em;
  margin-right: 20px;
}

.FeatPara {
  /* type p*/
  margin-top: 0px;
  font-size: 18px;

  font-family: "IBM Plex Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Header-FeaturedComponent {
  /*type h2*/
  margin-left: 30px;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  font-family: "IBM Plex Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.TextBlock-TextWithImage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 548px;
  height: 100%;
  padding-right: 3%;
  @media (max-width: 500px) {
    display: inline;
    padding-right: 0;
  }
}

.Img-TextWithImage {
  /* type img */
  display: flex;
  flex-direction: column;
  width: 525px;
  height: 408px;
  border-radius: 15px;
  @media (max-width: 500px) {
    display: none;
  }
}

.Header-TextWithImage {
  /* type h2*/
  font-style: italic;
  font-family: "IBM Plex Sans";
  font-size: 36px;
  @media (max-width: 500px) {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size: 2.3vw;
  }
}

.Text-TextWithImage {
  /* type p*/
  font-size: 20px;
  font-family: "IBM Plex Sans";
  line-height: 1.5;
  @media (max-width: 500px) {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 2vw;
  }
}

.Block-TextWithImage {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 408px;
  margin-bottom: 3em;
  margin-top: 2em;
}

.ButtonBlock-TextWithImage {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 2em;
}

.TextBlock-Teams {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding-left: 3%;
  @media (max-width: 500px) {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 0px 30px;
  }
}

.Img-Teams {
  /* type img */
  display: flex;
  flex-direction: column;
  width: 315px;
  height: 227px;
  @media (max-width: 500px) {
    display: none;
  }
}
.Header-Teams {
  /* type h2 */
  font-style: italic;
  font-size: 28px;
  margin-bottom: 0px !important;
  @media (max-width: 500px) {
    font-size: 25px;
  }
}

.Text-Teams {
  /* type p*/
  font-size: 18px;
  margin-top: 14px !important;

  @media (max-width: 500px) {
    font-size: 13px;
    text-align: left;
  }
}

.Block-Teams {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 25px;
}

.Img-Sponsors {
  /* type img */
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 319px;
  height: 184px;
  margin-left: 0;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 5px;
  border: 2px solid #aab7c4;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.Header-Sponsors {
  padding-bottom: 2em;
}

h2,
#Header-Sponsors {
  /* type h2 */
  font-style: italic;
  font-size: 36px;
  font-family: "IBM Plex Sans";
}

.SponsorsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Block-Sponsors {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 1200px;
  margin-bottom: 2em;
  border: 1px solid red;
}

.Block-RecruimentForm {
  padding: 1%;
  height: 100%;
  width: 90%;
  border-style: solid;
  display: inline-block;
  margin-bottom: 2%;
  @media (max-width: 750px) {
  }
}

.Header-RecruimentForm {
  /* type h2 */
  font-size: 170%;
  margin-bottom: 0px !important;
  text-align: center;
}

.ShortInput {
  /* type input */
  text-align: left;
  display: inline-block;
  margin: 3%;
  width: 42%;
}

.LongInput {
  /* type textarea */
  text-align: left;
  display: inline-block;
  margin: 3%;
  width: 90.7%;
  overflow: scroll;
}

.NavbarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  width: 100%;
  height: 55px;
  background-color: #232635;
}

.ListContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 50px;
}

.StyledLink {
  /* type StyledLink */
  color: white;
  margin: 0 10pt;
  font-family: "IBM Plex Sans";
  font-size: 18px;
  text-transform: uppercase;
}

.LogoContainer {
  align-items: left;
  padding: 3px 50px;
}

.IconYellow {
  /* type img*/
  width: 50px;
  height: 50px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.RoundedBorder {
  border-radius: 25px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  padding: 3px 5px;
  margin: 0 0 0 10px;
}

.generalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95vh;
  background-color: #232635;
  margin-bottom: 2em;
}

.generalTitleContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 23px;
}

.generalDescriptionContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.generalArrowContainer {
  position: absolute;
  bottom: 75px;
}

.generalDownArrow {
  /* type img */
  width: 40px;
  height: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #232635;
  margin-bottom: 2em;
}

.landingDescriptionContainer {
  display: flex;
  justify-content: center;
  color: #fefefe;
}

.landingArrowContainer {
  position: absolute;
  bottom: 75px;
  z-index: 0;
}

.landingBuildingContainer {
  width: 100%;
  @media (max-width: 500px) {
    display: none;
  }
}

.landingBuildings {
  /* type img */
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 30px;
  padding-top: 3em;
}

.landingDownArrow {
  /* type img */
  width: 40px;
  height: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.landingContent {
  margin-bottom: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.landingWaterloopContainer {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.landingWaterloop {
  /* type img */
  width: 700px;
  height: auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;

  @media (max-width: 500px) {
    width: 300px;
  }
}

.GooseRoster-RosterWrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.GooseRoster-Heading {
  /* type h2 */
  font-style: italic;
  font-size: 28px;
  margin: 18px 0;
}

.GooseRoster-Description {
  font-size: 16px;
}

.GooseRoster-ImageThumbnail {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  height: 40vw;
  overflow: hidden;
  padding: 5px;
  margin: 20px 0;
}

.GooseRoster-Img {
  /* type img */
  width: 90vw;
}

.GooseRoster-Arrow {
  /* type button */
  all: unset;
  cursor: pointer;
  margin: 4px;
}

.contactForm-Container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 80%;
}

.contactForm-InputBlockLeft {
  width: 48%;
  float: left;
  @media (max-width: 500px) {
    display: flex;
    width: 100%;
  }
}

.contactForm-InputBlockRight {
  width: 48%;
  float: right;
  @media (max-width: 500px) {
    display: flex;
    width: 100%;
  }
}

.ButtonDiv {
  border-radius: 17px;
  min-width: 50px;
  max-width: auto;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 30px;
}

.ButtonText {
  font-size: large;
  font-family: IBM Plex Sans;
  margin: 0;
}
