h2 {
  font-size: 12pt;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  font-size: 30px;
  color: #ffffff;
  margin-top: 0pt;
  font-weight: 400;
}

h1 {
  font-size: 64pt;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0pt;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: #ffffff;
  border-radius: 100pt;
  border: 2px solid white;
  height: 50px;
  width: 200px;
  text-decoration: none;
  line-height: 10px;
}

@media (max-width: 420px) {
  .GooseRoster-Img {
    /* type img */
    /* type img */
    display: block;
    object-fit: cover; /*Centers image and crops instead of scales aspect ratio.*/
    border: 10px;
    max-width: 355px;
    /*200 IQ bug fix (the first image doesn't load in correct size if only using width ;) */
    height: 10em;
  }

  .FooterWrapper {
    height: 130px;
  }
  .LogoWrapper {
    margin: 30px 0 30px 20px;
    transform: scale(0.75, 0.75);
  }
  .SocialMediaWrapper {
    margin: 5px 10px 5px 2px;
    font-size: 13px;
  }
  .RoutingWrapper {
    margin: 5px 20px 5px 2px;
    font-size: 13px;
  }
  .LinksWrapper {
    margin: 5% 5% 20% 15%;
  }
}

@media (min-width: 420px) and (max-width: 800px) {
  .GooseRoster-Img {
    /* type img */
    width: 90vw;
  }

  .LogoWrapper {
    transform: scale(1, 1);
    margin-left: 10%;
    margin-bottom: 15%;
  }
  .SocialMediaWrapper {
    margin: 10% 6% 20% 2%;
    font-size: 1rem;
  }
  .RoutingWrapper {
    margin: 10% 10% 20% 30%;
    font-size: 1rem;
  }
  .LinksWrapper {
    margin: 10% 10% 20% 30%;
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  .GooseRoster-Img {
    /* type img */
    width: 90vw;
  }

  .LogoWrapper {
    transform: scale(1.5, 1.5);
    margin-left: 15%;
    margin-bottom: 12%;
  }
  .SocialMediaWrapper {
    margin: 10% 6% 20% 2%;
    font-size: 1.5rem;
  }
  .RoutingWrapper {
    margin: 10% 10% 20% 30%;
    font-size: 1.5rem;
  }
  .LinksWrapper {
    margin: 10% 10% 20% 30%;
  }
}

.FooterWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 276px;
  bottom: 0;
  background: #232636;
}

.LogoWrapper {
  align-self: center;
  margin-left: 183px;
  height: 91.11px;
  width: 154.32px;
}

.SocialMediaWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 18px;
  height: 124px;
}

.RoutingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 124px;
  font-size: 18px;
}

.LinksWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  height: 276px;
  margin-right: 150px;
}

.featComp {
  margin: 30px;
  min-height: 80px; /* For some reason this prevents the top image from being an incorrect size.*/
  max-width: 70%;
  height: auto;
}

@media (min-width: 420px) {
  .featComp {
    display: flex;
    align-items: right;
    position: relative;
    height: 10em;
  }

  .FeatImage {
    position: absolute;
    left: 0;
    margin: 10px;
  }
  .FeatPara {
    position: absolute;
    left: 15em;
    margin: 10px;
  }
}

.FeatImage {
  /* type img*/
  display: block;
  object-fit: cover; /*Centers image and crops instead of scales aspect ratio.*/
  border: 10px;
  max-width: 355px;
  /*200 IQ bug fix (the first image doesn't load in correct size if only using width ;) */
  height: 10em;
}

.FeatPara {
  /* type p*/
  font-size: 18px;
  font-family: "IBM Plex Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Header-FeaturedComponent {
  /*type h2*/
  margin-left: 30px;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  font-family: "IBM Plex Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.TextBlock-TextWithImage {
  text-align: justify;
  width: 50%;
  height: 100%;
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  margin-top: 2em;
}

@media (max-width: 500px) {
  .contactForm-InputBlockRight {
    display: flex;
    width: 100%;
  }
  .contactForm-InputBlockLeft {
    display: flex;
    width: 100%;
  }

  .TextWithImage {
    display: inline;
    padding-right: 0;
  }
  .Img-TextWithImage {
    display: none;
  }
  .Header-TextWithImage {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size: 2.3vw;
  }
  .Text-TextWithImage {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 2vw;
  }
  .TextBlock-Teams {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 0px 30px;
  }
  .Img-Teams {
    display: none;
  }
  .Header-Teams {
    font-size: 25px;
  }
  .Text-Teams {
    font-size: 13px;
    text-align: left;
  }
}

.Img-TextWithImage {
  /* type img */
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: auto;
  border-radius: 20pt;
  margin-top: 3%;
}

.Header-TextWithImage {
  /* type h2*/
  font-style: italic;
  font-size: 1.7vw;
}

.Text-TextWithImage {
  /* type p*/
  font-size: 18px;
}

.Block-TextWithImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ButtonBlock-TextWithImage {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 2em;
}

.TextBlock-Teams {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding-left: 3%;
}

.Img-Teams {
  /* type img */
  display: flex;
  flex-direction: column;
  width: 315px;
  height: 227px;
}

.Header-Teams {
  /* type h2 */
  font-style: italic;
  font-size: 28px;
  margin-bottom: 0px !important;
}

.Text-Teams {
  /* type p*/
  font-size: 18px;
  margin-top: 14px !important;
}

.Block-Teams {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 25px;
}

.Img-Sponsors {
  /* type img */
  display: flex;
  align-content: center;
  width: 19vw;
  height: 15vh;
  margin: 40px;
  padding: 5px;
  border: 2px solid #aab7c4;
  border-radius: 10px;
}

.Header-Sponsors {
  /* type h2 */
  font-style: italic;
  font-size: 28px;
}

.SponsorsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.Block-Sponsors {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 10px 150px;
}

.Block-RecruitmentForm {
  padding: 1%;
  height: 100%;
  width: 90%;
  border-style: solid;
  display: inline-block;
  margin-bottom: 2%;
}

.Header-RecruitmentForm {
  /* type h2 */
  font-size: 170%;
  margin-bottom: 0px !important;
  text-align: center;
}

.ShortInput {
  /* type input */
  text-align: left;
  display: inline-block;
  margin: 3%;
  width: 42%;
}

.LongInput {
  /* type textarea */
  text-align: left;
  display: inline-block;
  margin: 3%;
  width: 90.7%;
  overflow: scroll;
}

.NavbarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #232635;
}

.ListContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 50px;
}

.StyledLink {
  /* type StyledLink */
  color: white;
  margin: 0 10pt;
  text-decoration: none;
}

.LogoContainer {
  align-items: left;
  padding: 3px 50px;
}

.IconYellow {
  /* type img*/
  width: 50px;
  height: 50px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.RoundedBorder {
  border-radius: 25px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  padding: 3px 5px;
  margin: 0 0 0 10px;
}

.generalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #232635;
}

.generalTitleContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 23px;
}

.generalDescriptionContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.generalArrowContainer {
  position: absolute;
  bottom: 75px;
}

.generalDownArrow {
  /* type img */
  width: 40px;
  height: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (max-width: 420px) {
  .generalContainer {
    align-items: center;
  }

  .generalTitleContainer {
    width: 100%;

    > h1 {
      font-size: 42px;
    }
  }

  .generalDescriptionContainer {
    > h3 {
      font-size: 24px;
    }
  }

  .generalArrowContainer {
    align-content: flex-end;
    bottom: 50px;
  }

  .generalDownArrow {
    /* type img */
    width: 27px;
    height: 11px;
  }
}

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #232635;
  margin-bottom: 2em;
}

.landingDescriptionContainer {
  display: flex;
  justify-content: center;
  color: #fefefe;
}

.landingArrowContainer {
  position: absolute;
  bottom: 75px;
  z-index: 99;
}

.landingBuildingContainer {
  width: 100%;
  z-index: 2;
}

.landingBuildings {
  /* type img */
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 30px;
  padding-top: 3em;
}

.landingDownArrow {
  /* type img */
  width: 40px;
  height: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.landingContent {
  margin-bottom: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.landingWaterloopContainer {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.landingWaterloop {
  /* type img */
  width: 700px;
  height: auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (max-width: 420px) {
  .landingDescriptionContainer {
    margin-bottom: 28px;
    > h3 {
      font-size: 24px;
    }
  }

  .landingArrowContainer {
    position: absolute;
    bottom: 50px;
  }

  .landingBuildingContainer {
    display: none;
  }

  .landingBuildings {
    display: none;
  }

  .landingDownArrow {
    /* type img */
    width: 27px;
    height: 11px;
  }

  .landingWaterloopContainer {
    padding: 17px 0;
  }

  .landingWaterloop {
    /* type img */
    width: 335px;
    height: 49px;
  }
}

.GooseRoster-RosterWrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.GooseRoster-Heading {
  /* type h2 */
  font-style: italic;
  font-size: 28px;
  margin: 18px;
}

.GooseRoster-Description {
  font-size: 16px;
  margin-left: 18px;
}

.GooseRoster-ImageThumbnail {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  height: 40vw;
  overflow: hidden;
  padding: 5px;
  margin: 20px 0;
}

.GooseRoster-Img {
  /* type img */
  width: 90vw;
}

.GooseRoster-Arrow {
  /* type button */
  all: unset;
  cursor: pointer;
  margin: 4px;
}

.contactForm-Container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 80%;
}

.contactForm-InputBlockLeft {
  width: 48%;
  float: left;
}

.contactForm-InputBlockRight {
  width: 48%;
  float: right;
}

.ButtonDiv {
  border-radius: 17px;
  min-width: 50px;
  max-width: auto;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 30px;
}

.ButtonText {
  font-size: large;
  font-family: IBM Plex Sans;
  margin: 0;
}

.SponsorPage {
  margin: 100px auto;

  > h1 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    color: #232635;
  }
}

.TierWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 90px auto;

  @media screen and (max-width: 420px) {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.hypersonic {
  width: 60%;
  height: auto;
  @media screen and (max-width: 420px) {
    width: 80%;
    height: 100px;
  }
}

.supersonic {
  width: 40%;
  height: auto;
  @media screen and (max-width: 420px) {
    width: 40%;
    height: 80px;
  }
}

.transonic {
  width: 30%;
  height: auto;
  @media screen and (max-width: 420px) {
    width: 30%;
    height: 50px;
  }
}

.sonic {
  width: 20%;
  height: auto;
  @media screen and (max-width: 420px) {
    width: 20%;
    height: 30px;
  }
}
