$mobile: 425px;
$yellow: #fed138;
$navy: #232636;
$white: #fefefe;
$light-gray: #f4f4f4;
$darknavy: #010101;

.pageContainer {
  margin: 80px 140px 80px 140px;

  @media screen and (max-width: $mobile) {
    margin: 32px 25px 32px 25px;
  }
}

.break {
  padding-bottom: 60px;

  @media screen and (max-width: $mobile) {
    padding-bottom: 32px;
  }
}

h1 {
  font-size: 64pt;
  color: $white;
  text-transform: uppercase;
  margin-bottom: 0pt;
  font-family: "IBM Plex Sans";
}

h2 {
  font-size: 12pt;
  font-family: "IBM Plex Sans";
  color: $darknavy;
}

h3 {
  font-family: "IBM Plex Sans";
  font-size: 30px;
  color: $white;
  margin-top: 0pt;
  font-weight: 400;
}

h4 {
  font-family: "IBM Plex Sans";
  font-size: 28px;
  color: $darknavy;
  font-style: italic;
  font-weight: bold;

  @media screen and (max-width: $mobile) {
    font-size: 18;
    margin-left: 0;  
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-lock {
  height: 100vh;
  overflow-y: hidden;
}

textarea {
  resize: none;
  padding: 10px;
}

.FooterWrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  bottom: 0;
  background: $navy;
  padding: 15vh 15vw 20vh;
  transition: all 0.3s;
  font-family: "IBM Plex Sans";
  h2 {
    color: $white;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
  }
  h3 {
    font-weight: 600;
    font-size: 18px;
    opacity: 0.7;
  }

  @media screen and (max-width: $mobile) {
    padding: 10vh 15vw;
    height: 75vh;
    overflow: hidden;

    h2 {
      font-size: 28px;
    }
  }
  
}
.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: $mobile) {
    flex-wrap: wrap;
    a {
      font-size: 14px;
    }
  }
}
.button-yellow {
  border: 2px solid $yellow;
  background-color: $navy;
  color: $yellow;
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-size: 24px;
  border-radius: 15px;
  height: 50px;
  width: 150px;
  margin: 0 100px 0 0;
  transition: all 0.3s;
  &:hover {
    background-color: $yellow;
    color: $navy;
  }

  @media screen and (max-width: $mobile) {
    margin: 30px 0;
    font-size: 18px;
    width: 120px;
    height: 40px;
  }
}

.LogoWrapper {
  align-self: center;
  height: 91.11px;
  width: 154.32px;

  @media screen and (max-width: $mobile) {
    box-sizing: border-box;
    align-self: center;
    > img {
      width: 90px;
      margin: 0 0 20px 0;
    }
  }
}

.LinksWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  > div > a {
    margin: 6px 0 0 0;
  }

  @media screen and (max-width: $mobile) {
    justify-content: flex-start;
    > div {
      margin-right: 50px;
    }
  }
}

.postings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SocialMediaWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 18px;
  height: 124px;
}

.RoutingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 124px;
  font-size: 18px;
}

.featComp {
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  flex-direction: row-reverse;
  align-content: center;

  @media screen and (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }
}

.FeatImage {
  border: 10px;
  max-width: 340px;
  /*200 IQ bug fix (the first image doesn't load in correct size if only using width ;) */
  height: 10em;
  padding-right: 30px;

  @media screen and (max-width: $mobile) {
    display: flex;
    width: 85vw;
    height: 25vh;
  }
}

.FeatPara {
  /* type p*/
  font-size: 18px;
  font-family: "IBM Plex Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;

  @media screen and (max-width: $mobile) {
    min-width: 85vw;
  }
}

.FeatCol {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.TextBlock-TextWithImage {
  text-align: justify;
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;

  @media (max-width: $mobile) {
    width: 100%;
  }

}

.Img-TextWithImage {
  /* type img */
  flex: 0 0 auto;
  max-width: 400px;
  max-height: 320px;
  width: 40vw;
  height: 32vw;
  border-radius: 10pt;

  @media (max-width: $mobile) {
    width: 90vw;
    height: auto;
  }
}

.Header-TextWithImage {
  /* type h2*/
  font-style: italic;
  font-size: calc(18px + 0.7vw);

  @media (max-width: $mobile) {
    margin: 0;
    text-align: left;
    font-size: 9vw;
  }
}

.Text-TextWithImage {
  /* type p*/
  font-size: calc(12px + 0.5vw);

  @media (max-width: $mobile) {
    margin: 20px 0;
    text-align: justify;
    font-size: 16px;
  }
}

.Block-TextWithImage {
  // !NOTE: Workaround until the parent scss selector introduces the padding automatically to align each of its direct children:

  display: flex;
  padding-bottom: 60px;
  // Alternate between 2 layouts:
  // NOTE: I dunno if this can be optimized in any way.
  &.left-right-variant {
    flex-direction: row;
    & > *:nth-child(1) {
      margin-right: 5vw;
    }
  }

  &.right-left-variant {
    flex-direction: row-reverse;
    & > *:nth-child(2) {
      margin-right: 5vw;
    }
  }

  align-items: center;
  justify-content: center;
}

.ButtonBlock-TextWithImage {
  display: inline-flex;
  justify-content: flex-start;
  margin-top: 2em;

  @media (max-width: $mobile) {
    display: none;
  }
}

.text-w-image-btn-mobile {
  display: none;
  justify-content: flex-start;
  padding: 20px;
  @media (max-width: $mobile) {
    display: inline-flex;
  }
}

// TODO: the screen's width should be declared as a SASS variable and then used to maintain consistency.
@media (max-width: 500px) {
  .Block-TextWithImage {
    &.left-right-variant,
    &.right-left-variant {
      flex-direction: column;
      & > *:nth-child(1),
      & > *:nth-child(2) {
        margin-right: 0;
      }
    }
  }
}

.TextBlock-Teams {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding-left: 3%;

  @media (max-width: $mobile) {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 0px 30px;
  }
}

.Img-Teams {
  /* type img */
  display: flex;
  flex-direction: column;
  width: 315px;
  height: 227px;

  @media (max-width: $mobile) {
    display: none;
  }
}

.Header-Teams {
  /* type h2 */
  font-style: italic;
  font-size: 28px;
  margin-bottom: 0px !important;
  font-family: "IBM Plex Sans";

  @media (max-width: $mobile) {
    font-size: 25px;
  }
}

.Text-Teams {
  /* type p*/
  font-size: 18px;
  margin-top: 14px !important;

  @media (max-width: $mobile) {
    font-size: 13px;
    text-align: left;
  }
}

.Block-Teams {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 25px;
}

/*Landing Sponsor's component styles: */
.Img-Box-Sponsors {
  margin: 30px 20px 30px 20px;
  width: calc(6vw + 200px);
  height: calc(5vw + 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $mobile) {
    margin: 40px 0;
    width: 100%;
  }
}

.Img-Sponsors {
  /* type img */
  width: 100%;
}

.Header-Sponsors {
  /* type h2 */
  font-style: italic;
  font-size: 1.75rem;
}

.SponsorsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.Button-Sponsors {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.Block-Sponsors {
  width: 100%;
}

.Block-RecruitmentForm {
  padding: 1%;
  height: 100%;
  width: 90%;
  border-style: solid;
  display: inline-block;
  margin-bottom: 2%;
}

.Header-RecruitmentForm {
  /* type h2 */
  font-family: "IBM Plex Sans";
  font-size: 170%;
  margin-bottom: 0px !important;
  text-align: center;
}

.recruitment-modal {
  text-align: center;
  background-color: white;
  padding: 30px;
  border: 1px solid gray;
  width: 60%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  textarea {
    min-height: 20px;
  }
  input {
    margin: 5px 10px;
    font-family: "IBM Plex Sans";
  }
  
  hr {
    // margin: 20px;
  }

  @media screen and (max-width: $mobile) {
    width: 100%;
    height: 100vh;
  }
}

.ShortInput {
  /* type input */
  text-align: left;
  display: inline-block;
  margin: 3%;
  width: 42%;
}

.LongInput {
  /* type textarea */
  text-align: left;
  display: inline-block;
  margin: 3%;
  width: 90.7%;
  overflow: scroll;
}

.sidebar-open {
  overflow: hidden;
}

.NavbarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #232635;
}

.ListContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 50px;
}

.StyledLink {
  /* type StyledLink */
  color: white;
  margin: 0 10pt;
  text-decoration: none;
}

.LogoContainer {
  align-items: left;
  padding: 3px 50px;
}

.IconYellow {
  /* type img*/
  width: 50px;
  height: 50px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.RoundedBorder {
  border-radius: 25px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  padding: 3px 5px;
  margin: 0 0 0 10px;
}

.generalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #232635;

  @media screen and (max-width: $mobile) {
    align-items: center;
  }
}

.generalTitleContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 23px;

  @media screen and (max-width: $mobile) {
    width: 100%;

    > h1 {
      font-size: 42px;
    }
  }
}

.generalDescriptionContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  @media screen and (max-width: $mobile) {
    > h3 {
      font-size: 24px;
    }
  }
}

.generalArrowContainer {
  position: absolute;
  bottom: 75px;

  @media screen and (max-width: $mobile) {
    align-content: flex-end;
    bottom: 50px;
  }
}

.generalDownArrow {
  /* type img */
  width: 40px;
  height: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;

  @media screen and (max-width: $mobile) {
    width: 27px;
    height: 11px;
  }

}

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #232635;
  margin-bottom: 2em;
}

.landingDescriptionContainer {
  display: flex;
  justify-content: center;
  color: $white;

  @media screen and (max-width: $mobile) {
    margin-bottom: 28px;
    > h3 {
      font-size: 24px;
    }
  }
}

.landingArrowContainer {
  position: absolute;
  bottom: 75px;
  z-index: 99;

  @media screen and (max-width: $mobile) {
    position: absolute;
    bottom: 50px;
  }
}

.landingBuildingContainer {
  width: 100%;
  z-index: 2;

  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.landingBuildings {
  /* type img */
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 30px;
  padding-top: 3em;

  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.landingDownArrow {
  /* type img */
  width: 40px;
  height: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;

  @media screen and (max-width: $mobile) {
    width: 27px;
    height: 11px;
  }
}

.landingContent {
  margin-bottom: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;

  @media screen and (max-width: $mobile) {
    padding: 17px 0;
  }
}

.landingWaterloopContainer {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.landingWaterloop {
  /* type img */
  width: 80%;
  height: auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;

  @media screen and (max-width: $mobile) {
    width: 80%;
  }
}

.GooseRoster-RosterWrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}

.GooseRoster-Heading {
  /* type h2 */
  font-style: italic;
  font-size: 28px;
  margin: 18px;

  @media screen and (max-width: $mobile) {
    margin-left: 0;
  }
}

.GooseRoster-Description {
  font-size: 16px;
  margin-left: 18px;

  @media screen and (max-width: $mobile) {
    font-size: 14px;
    margin-left: 0;
    text-align: justify;
  }
}

.GooseRoster-ImageThumbnail {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  height: 40vw;
  overflow: hidden;
  padding: 5px;
  margin: 20px 0;
}

.GooseRoster-Img {
  width: 77vw;

  @media screen and (max-width: $mobile) {
    display: block;
    object-fit: cover;
    border: 10px;
    width: 90vw;
    max-width: 355px;
    height: 10em;
  }
}

.GooseRoster-Arrow {
  /* type button */
  all: unset;
  cursor: pointer;
  margin: 4px;
}

.contactForm-Container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 80%;
  margin-bottom: 4vh;
  label {
    margin: 10px 0 0 0;
    color: #474747;
    font-size: 12px;
  }
  h3 {
    font-style: italic;
    color: #232635 !important;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 36px;
  }

  > form {
    width: 100%;
  }

  > form > p {
    font-size: 18px;
    margin: 0 auto 15px;
  }
  input {
    margin-top: 5px;
    width: calc(98% - 10px);
    height: 30px;
    background-color: $light-gray;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    color: $navy;
  }

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.contactForm-InputBlockLeft {
  width: 48%;
  float: left;
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.contactForm-InputBlockRight {
  width: 48%;
  float: right;
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.contact-form-row {
  @media (max-width: $mobile) {
    display: flex;
    flex-wrap: wrap;
  }
}

.contact-form-message {
  margin: 10px 0 15px 0;
  textarea {
    margin-top: 5px;
    width: calc(100% - 15px);
    height: 300px;
    background-color: $light-gray;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    resize: none;
    padding: 5px 10px;
    font-family: IBM Plex Sans;
    color: $navy;
  }
  label {
    margin: 20px 0;
  }
}

.landing-btn {
  color: $navy !important;
  transition: all 0.3s;
  background-color: $yellow !important;
  &:hover {
    transform: translateY(-5px);
  }
}

.ButtonDiv {
  border: 0;
  border-radius: 50px;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  @media screen and (max-width: $mobile) {
    max-height: 50px;
  }
}

.ButtonText {
  font-size: 14px;
  font-weight: 600;
  font-family: "IBM Plex Sans";
  margin: 0;
}

.SponsorPage {
  margin: 100px auto;

  > h1 {
    font-family: IBM Plex Sans;
    font-style: italic;
    text-transform: none;
    font-weight: 600;
    font-size: 3vw;
    text-align: center;
    color: #232635;
    @media screen and (max-width: $mobile) {
      font-size: 1.2rem;
    }
  }
}

.TierWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto auto;
  margin-bottom: 1vh;

  @media screen and (max-width: $mobile) {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.hypersonic {
  width: 60%;
  height: auto;
  @media screen and (max-width: $mobile) {
    width: 80%;
    height: auto;
  }
}

.supersonic {
  width: 40%;
  height: auto;
  @media screen and (max-width: $mobile) {
    width: 40%;
    height: auto;
  }
}

.transonic {
  width: 30%;
  height: auto;
  @media screen and (max-width: $mobile) {
    width: 30%;
    height: auto;
  }
}

.sonic {
  width: 30%;
  height: auto;
  @media screen and (max-width: $mobile) {
    width: 30%;
    height: auto;
  }
}

.sponsorLink {
  font-family: "IBM Plex Sans";
  font-size: 24px;
  font-style: italic, underline;
  color: #010101;

  @media screen and (max-width: $mobile) {
    font-size: 24px;  
  }
}

.contactFormContainer {
  display: flex;
  // align-items: center;
  flex-direction: column;
  font-family: IBM Plex Sans !important;
  width: 100%;
  margin: 50px 0;
  @media (max-width: $mobile) {
    margin: 2em 0;
    min-height: 100vh;
  }
}

.locationContainer {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-self: center;

  > div {
    margin: 5vh 0;
    display: flex;
    justify-content: center;
  }

  @media (max-width: $mobile) {
    margin-top: 30px;
      display: flex;
      flex-direction: column;
      width: 100%;
  }
}

.mapContainer {
  display: flex;
  height: 50vh;
  width: 64vw;

  @media (max-width: $mobile) {
      display: flex;
      width: 100%;
  }
}

.sponsorsButton {
  display: flex;
  margin-left: 3.5em;
  margin-top: -4em;

  @media screen and (max-width: $mobile) {
    margin-left: 0;
    margin-top: 0;
    justify-content: center;
  }
}

.success-message {
  height: 60vh;
  box-sizing: border-box;
  width: 100%;
  padding: 10vh 10vw;
  margin: 0 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: $light-gray;
  h3 {
    font-style: italic;
    color: #232635;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 36px;
    text-align: center;
  }
  p {
    font-size: 18px;
    text-align: center;
  }
}

.banner {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $navy;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 36px;
  }
}
.col-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  h2 {
    color: $navy;
    font-size: 24px;
  }
  div:nth-child(2) {
    margin: 0 80px;
    @media (max-width: $mobile) {
      margin: 20px 0;
    }
  }
  @media (max-width: $mobile) {
    flex-wrap: wrap;
  }
}

.contactFormDesc {
  display: flex;
  align-self: flex-start !important;
}
