{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jsx-a11y",
    "prettier"
  ],
  "extends": [
    "react-app",
    "./node_modules/eslint-config-airbnb-base/rules/best-practices.js",
    "./node_modules/eslint-config-airbnb-base/rules/errors.js",
    "./node_modules/eslint-config-airbnb-base/rules/node.js",
    "./node_modules/eslint-config-airbnb-base/rules/style.js",
    "./node_modules/eslint-config-airbnb-base/rules/variables.js",
    "./node_modules/eslint-config-airbnb-base/rules/es6.js",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "no-console": 1, // Warning
    "no-duplicate-case": 2, // Error
    "no-extra-semi": 0, // NO error
    "@typescript-eslint/no-extra-semi": 0,
    "eqeqeq": 2, // Error
    "default-case": 2, // Error
    "comma-dangle": ["error", "always-multiline"],
    "no-shadow": 0,
    "no-plusplus": 2,
    "no-nested-ternary": 0,
    "no-tabs": 2,
    "no-unneeded-ternary": 2
  }
}
